# ===========================================
# Configuração Genérica da API
# PostgreSQL
# ===========================================

# Conexão com Banco de Dados
DB_DRIVER=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=crebortoli
DB_USER=postgres
DB_PASS=sua_senha_aqui

# Ambiente (development | production)
APP_ENV=production
