 {% include 'sig/_header.html' %}
 
 <main class="container">
     <section>
         <h1>Ficha de Anaminese</h1>
     </section>
 
     <form action="" method="POST">
         {# O WTForms já gera as labels, então podemos simplificar #}
         <fieldset class="form-fieldset">
             <legend>Dados Pessoais</legend>
             <div class="form-group">{{ form4.nome.label }} {{ form4.nome(class="form-control") }}</div>
             <div class="form-group">{{ form4.nascimento.label }} {{ form4.nascimento(class="form-control") }}</div>
             <div class="form-group">{{ form4.profissao.label }} {{ form4.profissao(class="form-control") }}</div>
             <div class="form-group">{{ form4.endereco.label }} {{ form4.endereco(class="form-control") }}</div>
             <div class="form-group">{{ form4.telefone.label }} {{ form4.telefone(class="form-control") }}</div>
             <div class="form-group">{{ form4.indicacao.label }} {{ form4.indicacao(class="form-control") }}</div>
             <div class="form-group">{{ form4.queixa_principal.label }} {{ form4.queixa_principal(class="form-control", rows="3") }}</div>
         </fieldset>
 
         <fieldset class="form-fieldset">
             <legend>Estado Clínico</legend>
             {# ... (coloque os outros campos do formulário aqui no mesmo padrão) ... #}
             <div class="form-group">{{ form4.alergia_medicamentos.label }} {{ form4.alergia_medicamentos }} {{ form4.alergia_medicamentos_quais(class="form-control", placeholder="Quais?") }}</div>
             <div class="form-group">{{ form4.alergia_aspirina.label }} {{ form4.alergia_aspirina }} {{ form4.alergia_aspirina_quais(class="form-control", placeholder="Quais?") }}</div>
             <div class="form-group">{{ form4.tratamentos_medicos.label }} {{ form4.tratamentos_medicos }} {{ form4.tratamentos_medicos_quais(class="form-control", placeholder="Quais?") }}</div>
             <div class="form-group">{{ form4.cirurgias.label }} {{ form4.cirurgias }} {{ form4.cirurgias_quais(class="form-control", placeholder="Quais?") }}</div>
             <div class="form-group">{{ form4.medicamentos.label }} {{ form4.medicamentos }} {{ form4.medicamentos_quais(class="form-control", placeholder="Quais?") }}</div>
             <div class="form-group">{{ form4.proteses.label }} {{ form4.proteses }} {{ form4.proteses_quais(class="form-control", placeholder="Quais?") }}</div>
             <div class="form-group">{{ form4.gene.label }} {{ form4.gene }} {{ form4.gene_quais(class="form-control", placeholder="Quais?") }}</div>
             <div class="form-group">{{ form4.diabetes.label }} {{ form4.diabetes }}</div>
             <div class="form-group">{{ form4.pressao.label }} {{ form4.pressao }} {{ form4.pressao_quais(class="form-control", placeholder="Qual?") }}</div>
             <div class="form-group">{{ form4.doenca_renal.label }} {{ form4.doenca_renal }}</div>
             <div class="form-group">{{ form4.epilepsia.label }} {{ form4.epilepsia }} {{ form4.epilepsia_quais(class="form-control", placeholder="Qual?") }}</div>
             <div class="form-group">{{ form4.menstruacao.label }} {{ form4.menstruacao }} {{ form4.menstruacao_quais(class="form-control", placeholder="Qual?") }}</div>
             <div class="form-group">{{ form4.gestante.label }} {{ form4.gestante }} {{ form4.gestante_quais(class="form-control", placeholder="Qual?") }}</div>
             <div class="form-group">{{ form4.tratamento_estetico.label }} {{ form4.tratamento_estetico }} {{ form4.tratamento_estetico_quais(class="form-control", placeholder="Quais?") }}</div>
             <div class="form-group">{{ form4.cosmeticos.label }} {{ form4.cosmeticos }} {{ form4.cosmeticos_quais(class="form-control", placeholder="Quais?") }}</div>
             <div class="form-group">{{ form4.filtro_solar.label }} {{ form4.filtro_solar }} {{ form4.filtro_solar_quais(class="form-control", placeholder="Quais?") }}</div>
             <div class="form-group">{{ form4.bronzeamento.label }} {{ form4.bronzeamento }} {{ form4.bronzeamento_quais(class="form-control", placeholder="Quais?") }}</div>
             <div class="form-group">{{ form4.obs.label }} {{ form4.obs(class="form-control", rows="4") }}</div>
         </fieldset>
 
         <fieldset class="form-fieldset">
             <legend>Termo de Responsabilidade</legend>
             <p class="termo-responsabilidade">"As declarações citadas são expressões da verdade isentando à esteticista a responsabilidade por informações omitidas ou inexatas."</p>
             <div class="form-group">{{ form4.assinatura.label }} {{ form4.assinatura(class="form-control") }}</div>
             <div class="form-group">{{ form4.documento.label }} {{ form4.documento(class="form-control") }}</div>
             <div class="form-group">{{ form4.data.label }} {{ form4.data(class="form-control") }}</div>
         </fieldset>
 
         <div class="form-group">
             {{ form4.enviar(class="btn-submit") }}
         </div>
     </form>
 </main>
 
 {% include 'sig/_footer.html' %}
 