 {% include 'sig/_header.html' %}
 
 <main class="container">
     <div class="error-page">
         <h1>Oops! Algo deu errado.</h1>
         <p>Resultado não encontrado ou inexistente.</p>
         {# A mensagem de erro 'e' só deve ser exibida em modo de desenvolvimento #}
         {% if e %}
             <p class="error-details"><strong>Detalhe técnico:</strong> {{ e }}</p>
         {% endif %}
         <a href="{{ url_for('paginas.home') }}" class="btn-submit">Voltar para a Home</a>
     </div>
 </main>
 
 {% include 'sig/_footer.html' %}
 