<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/static/css/style.css'>
  <link rel="icon" type="image/png" href="/static/icon/favicon.ico" />
  <title>FerraMargem de Lucro.</title>
</head>

<body>
  <!-- Tipo de serviço -->
  <!-- Gastos com Materiais Descartáveis. -->
  <!-- Gastos comProdutos -->
  <!-- Total de Custo Variável. -->
  <!-- Total de Custo Fixo. -->
  <!-- Retirada de Pró-Labore -->
  <!-- Calculo de Horas Trabalhadas.
    Periodo: das 9h as 18h, segunda a sexta, 20 dias/mẽs *8h/diaria = 160h disponiveis. (descanso sabadao,domingo e feriado.) -->
  <!-- Calculo:
    Pro-Labore = 1000
                -------  = R$6,25 por seção.
    horas disp. = 160 

    Material descartáveis + prólabore = 10 + 6,25 = 16,25

    Se serviço de limpeza de pele é: R$ 30,00.
      R$30,00
    - R$16,25
    ---------
      R$13,75 para cobrir custos fixos

    Se custo fixo = R$2000
                    ------- = 145 serviços de limpeza de pele para cobrir custos fixos e começar a ter lucro no mês.(INSUSTENTÁVEL)
                    R$13,75 -->
                    <div class="header">
                      <!-- <h1 style.font.font-family="World Discovery Five PERSONAL">Cre Bortoli Depilação </h1> -->
                      <h1> Espaço Cre  Bortoli </h1>
                      
                  </div>
                  <nav>       
                      <ul class="menu">
                      <li><a href="{{url_for('paginas.home')}}">Redes Sociais</a></li> 
                      <!-- Submenu -->
                      <li><a href="#" >Clientes</a> 
                      <ul>           
                      <li><a href="{{url_for('sig.postclientes')}}">Cadastro de Clientes</a></li>
                      <li><a href="{{url_for('sig.getclientes')}}">Busca de Clientes</a></li>
                      <li><a href="{{url_for('sig.anaminese')}}">Ficha de Anaminese</a></li>
                      </ul>
                      </li>
                      <!-- Fim submenu -->
                      <!-- Submenu -->
                      <li><a href="#" >Vendas</a> 
                      <ul> 
                      <li><a href="{{url_for('sig.vendas_servicos')}}">Serviços</a></li>
                      <li><a href="{{url_for('sig.vendas_produtos')}}">Produtos</a></li>
                      </ul>
                      </li>
                      <!-- Fim submenu -->
                      <li><a href="{{url_for('sig.compras')}}">Compras</a></li>
                      <li><a href="{{url_for('sig.estoque')}}">Estoque</a></li>
                      <li><a href="{{url_for('sig.pessoal')}}">Pessoal</a></li>
                      <li><a href="#">Financeiro</a>
                      <ul>              
                          <li><a href="{{url_for('sig.depreciacao')}}">Gestão de Depreciacao</a></li>
                          <li><a href="{{url_for('sig.insumos')}}">Gestão de Materiais</a></li>
                          <li><a href="{{url_for('sig.impostos')}}">Gestão de Impostos</a></li>
                          <li><a href="{{url_for('sig.margemlucro')}}">Gestão de Margem de Lucro</a></li>
                          <li><a href="{{url_for('sig.markup')}}">Gestão Markup</a></li>
                          <li><a href="{{url_for('sig.relatorioMEI')}}">Gestão MEI</a></li>
                          <li><a href="https://www8.receita.fazenda.gov.br/SimplesNacional/Aplicacoes/ATSPO/dasnsimei.app/Identificacao" target="_blank">Gestão MEI - Acesso DASN-SIMEI</a></li>
                         
                         
                      </ul>
                      </li>
                      
                      <li><a href="#">Fiscal</a> 
                          <ul>
                              <li><a href="{{url_for('sig.nota')}}">Emiissão de Notas</a></li>  
                              <li><a href="https://www.nfse.gov.br/EmissorNacional/Login?ReturnUrl=%2fEmissorNacional" target="_blank">NFS-e - Contribuinte</a></li>       
                          </ul>
                      </li>                                  
                      </ul>       
                  </nav>
  <h1>Margem de Lucro</h1>
  <div class="container">
    <form action="" method="POST" target="mydiv">
      <div class="form">
        {{form12.servico.label}}
        {{form12.servico}}
        {{form12.preco_oferta.label}}
        {{form12.preco_oferta}}
        {{form12.enviar}}
      </div>

    </form>
  
  <div class="table">
    <table>
      <!-- coluna   -->
      <thead>
        <!-- Uma passada de for in range reformata a saida de sql. -->
        {%for n in range(0,1):%}
        <tr>
          {% for i in get[1]:%}
          <th>{{ i[n] }}</th>
          {%endfor%}
        </tr>
        {%endfor%}

      </thead>
      <!-- linha -->
      <tbody>
        {% for v in get[0]:%}
        <tr>
          {%for c in range(0,14)%}
          <td>{{v[c]}}</td>
          {%endfor%}
         <!-- Deletar linha -->
          <td><a href="{{url_for('sig.delete',tabela=tab,id=v[0])}}"><img src="/static/icon/delete.png" /></a></td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  </div>

</body>

</html>