<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/css/style.css'>
    <link rel="icon" type="image/png" href="/static/icon/favicon.ico" />
    <title>Sistema Integrado de Gestão</title>
</head>

<body>
    <header class="header">
        <h1 class="header-title">Espaço Cre Bortoli</h1>
        <button id="menu-toggle" class="sandwich-button" aria-label="Abrir menu" aria-expanded="false" aria-controls="main-navigation">
            <span class="sandwich-icon"></span>
        </button>
    </header>

    <nav id="main-navigation" class="main-nav">       
        <ul class="menu">
        <li class="nav-item"><a class="nav-link" href="{{url_for('paginas.home')}}">Redes Sociais</a></li> 
        <!-- Submenu -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clientes</a> 
            <ul class="dropdown-menu">           
                <li><a class="dropdown-item" href="{{url_for('sig.postclientes')}}">Cadastro de Clientes</a></li>
                <li><a class="dropdown-item" href="{{url_for('sig.getclientes')}}">Busca de Clientes</a></li>
                <li><a class="dropdown-item" href="{{url_for('sig.anaminese')}}">Ficha de Anaminese</a></li>
            </ul>
        </li>
        <!-- Fim submenu -->
        <!-- Submenu -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Vendas</a> 
            <ul class="dropdown-menu"> 
                <li><a class="dropdown-item" href="{{url_for('sig.vendas_servicos')}}">Serviços</a></li>
                <li><a class="dropdown-item" href="{{url_for('sig.vendas_produtos')}}">Produtos</a></li>
            </ul>
        </li>
        <!-- Fim submenu -->
        <li class="nav-item"><a class="nav-link" href="{{url_for('sig.compras')}}">Compras</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('sig.estoque')}}">Estoque</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('sig.pessoal')}}">Pessoal</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Financeiro</a>
        <ul class="dropdown-menu">              
            <li><a class="dropdown-item" href="{{url_for('sig.depreciacao')}}">Gestão de Depreciacao</a></li>
            <li><a class="dropdown-item" href="{{url_for('sig.insumos')}}">Gestão de Materiais</a></li>
            <li><a class="dropdown-item" href="{{url_for('sig.impostos')}}">Gestão de Impostos</a></li>
            <li><a class="dropdown-item" href="{{url_for('sig.margemlucro')}}">Gestão de Margem de Lucro</a></li>
            <li><a class="dropdown-item" href="{{url_for('sig.markup')}}">Gestão Markup</a></li>
            <li><a class="dropdown-item" href="{{url_for('sig.relatorioMEI')}}">Gestão MEI</a></li>
            <li><a class="dropdown-item" href="https://www8.receita.fazenda.gov.br/SimplesNacional/Aplicacoes/ATSPO/dasnsimei.app/Identificacao" target="_blank">Gestão MEI - Acesso DASN-SIMEI</a></li>
        </ul>
        </li>
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Fiscal</a> 
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{url_for('sig.nota')}}">Emiissão de Notas</a></li>  
                <li><a class="dropdown-item" href="https://www.nfse.gov.br/EmissorNacional/Login?ReturnUrl=%2fEmissorNacional" target="_blank">NFS-e - Contribuinte</a></li>       
            </ul>
        </li>                                  
        </ul>       
    </nav>
    <h2 class="section-title">Gestão de Pessoal</h2>
    <div class="container">
        <form action="" method="POST" target="div2">
            <fieldset class="comment-form-section">
                <legend>Dados Pessoais</legend>
                <div class="form-group">
                    {{form10.nome.label}}
                    {{form10.nome}}
                </div>
                <div class="form-group">
                    {{form10.endereco.label}}
                    {{form10.endereco}}
                </div>
                <div class="form-group">
                    {{form10.cidade.label}}
                    {{form10.cidade}}
                </div>
                <div class="form-group">
                    {{form10.email.label}}
                    {{form10.email}}
                </div>
                <div class="form-group">
                    {{form10.telefone.label}}
                    {{form10.telefone}}
                </div>
            </fieldset>
            <fieldset class="comment-form-section" style="margin-top: 20px;">
                <legend>Vinculo Empregatício</legend>
                <div class="form-group">
                    {{form10.funcao.label}}
                    {{form10.funcao}}
                </div>
                <div class="form-group">
                    {{form10.regime.label}}
                    {{form10.regime}}
                </div>
                <div class="form-group">
                    {{form10.salario.label}}
                    {{form10.salario}}
                </div>
                <div class="form-group">
                    {{form10.observacoes.label}}
                    {{form10.observacoes}}
                </div>
                <div class="form-group">
                    {{form10.enviar}}
                </div>
            </fieldset>
        </form>
    
    <div class="table-responsive">
        <table class="table">
            <!-- coluna   -->
            <thead>
                <!-- Uma passada de for in range reformata a saida de sql. -->
                {%for n in range(0,1):%}
                <tr>
                    {% for i in get[1]:%}
                    <th>{{ i[n] }}</th>
                    {%endfor%}
                </tr>
                {%endfor%}

            </thead>
            <!-- linha -->
            <tbody>
                {% for v in get[0]:%}
                <tr>
                    {%for c in range(0,16)%}
                    <td>{{v[c]}}</td>
                    {%endfor%}
                    <!-- Deletar linha -->
                    <td><a href="{{url_for('sig.delete',tabela=tab,id=v[0])}}"><img src="/static/icon/delete.png" /></a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
     </div>
 </div>
 <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>