 {% include 'sig/_header.html' %}
 
 <main class="container">
     <section>
         <h2>Cadastro de Clientes</h2>
     </section>
 
     <form action="" method="POST">
         {{ form.csrf_token }}  {# CSRF protection #} 
         {% for field in form %}
             {% if field.type != 'CSRFTokenField' %}
                 <div class="form-group">
                     {{ field.label(class="form-label") }}
                     {{ field(class="form-control") }}
                     {% if field.errors %}
                         <ul class="errors">
                             {% for error in field.errors %}
                                 <li>{{ error }}</li>
                             {% endfor %}
                         </ul>
                     {% endif %}
                 </div>
             {% endif %}
         {% endfor %}
 
         <div class="form-group">
             <button type="submit" class="btn btn-primary">Cadastrar</button>
         </div>
     </form>
 </main>
 
 {% include 'sig/_footer.html' %}
 