<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/css/style.css'>
    <link rel="icon" type="image/png" href="/static/icon/favicon.ico" />
    <title>Sistema Integrado de Gestão</title>
</head>
<body>
    <div class="header">
        <!-- <h1 style.font.font-family="World Discovery Five PERSONAL">Cre Bortoli Depilação </h1> -->
        <h1> Espaço Cre  Bortoli </h1>
        
    </div>
    <nav>       
        <ul class="menu">
        <li><a href="{{url_for('paginas.home')}}">Redes Sociais</a></li> 
        <!-- Submenu -->
        <li><a href="#" >Clientes</a> 
        <ul>           
        <li><a href="{{url_for('sig.postclientes')}}">Cadastro de Clientes</a></li>
        <li><a href="{{url_for('sig.getclientes')}}">Busca de Clientes</a></li>
        <li><a href="{{url_for('sig.anaminese')}}">Ficha de Anaminese</a></li>
        </ul>
        </li>
        <!-- Fim submenu -->
        <!-- Submenu -->
        <li><a href="#" >Vendas</a> 
        <ul> 
        <li><a href="{{url_for('sig.vendas_servicos')}}">Serviços</a></li>
        <li><a href="{{url_for('sig.vendas_produtos')}}">Produtos</a></li>
        </ul>
        </li>
        <!-- Fim submenu -->
        <li><a href="{{url_for('sig.compras')}}">Compras</a></li>
        <li><a href="{{url_for('sig.estoque')}}">Estoque</a></li>
        <li><a href="{{url_for('sig.pessoal')}}">Pessoal</a></li>
        <li><a href="#">Financeiro</a>
        <ul>              
            <li><a href="{{url_for('sig.depreciacao')}}">Gestão de Depreciacao</a></li>
            <li><a href="{{url_for('sig.insumos')}}">Gestão de Materiais</a></li>
            <li><a href="{{url_for('sig.impostos')}}">Gestão de Impostos</a></li>
            <li><a href="{{url_for('sig.margemlucro')}}">Margem de Lucro</a></li>
            <li><a href="{{url_for('sig.relatorioMEI')}}">Gestão MEI</a></li>
           
        </ul>
        </li>
        
        <li><a href="#">Fiscal</a> 
            <ul>
                <li><a href="{{url_for('sig.nota')}}">Emiissão de Notas</a></li>     
            </ul>
        </li>                                  
        </ul>       
    </nav>
    <h1> SIG DASHBOARD.</h1>
    <div class="container">
        <div class="grafico">
           
               <h1>Pro Labore:{{get}}</h1>
               {{get}}
              
        </div>
    </div>
   
    
</body>
</html>