<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Espaço Cre Bortoli{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'templates/includes/_header.html' %}

    <main role="main">
        {% block content %}{% endblock %}
    </main>

    {% include 'templates/includes/_footer.html' %}
</body>
</html>