 <!-- /home/wander/crebortoli/paginas/templates/paginas/_home_header.html -->
 <header class="header">
     <h1>Espaço Cre Bortoli</h1>
 
     <!-- This button will be controlled by JavaScript -->
     <button class="sandwich-button" aria-label="Abrir menu" aria-expanded="false">
         <span class="sandwich-icon"></span>
     </button>
 
     <!-- This menu will be controlled by JavaScript and CSS -->
     <nav class="main-nav">
         <ul class="menu">
             <li><a href="{{ url_for('paginas.home') }}">Home</a></li>
             <li><a href="{{ url_for('paginas.agenda') }}">Agenda</a></li>
             <li><a href="{{ url_for('sig.login') }}">Intranet</a></li>
         </ul>
     </nav>
 </header>
 