<!DOCTYPE html>
<html>
<html lang=en>

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/icon/favicon.ico" />
</head>

<body>
    <div class="header">
        <!-- <h1 style.font.font-family="World Discovery Five PERSONAL">Cre Bortoli Depilação </h1> -->
        <h1>Estetic Cre Bortoli Depil Site</h1>
    </div>
    <!-- Novo menu -->
    <nav>       
        <ul class="menu">
            <li><a href="{{url_for('paginas.home')}}">Home</a></li>
            <li><a href="{{url_for('paginas.admin')}}">Intranet</a></li>     
                     
        </ul>       
    </nav>
   
    <div class="container">
        <h1> Agenda de Horários</h1>

        {% for message in get_flashed_messages() %}
        <p class="span">{{ message }}</p>
        {% endfor %}

        <div class="imagem">
            <img src="/static/css/image/hora.png" alt="hora" />
        </div>

        
        <form  action="" method="POST">
            <div class="form">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required />
            </div>
            <div class="form">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required />
            </div>
            <div class="form">
                <label for="telefone">Telefone:</label>
                <input type="tel" id="tel" name="tel" placeholder="(xx)xxxxx-xxxx" required />
            </div>
            <div class="form">
                <label for="dia">Melhor Dia:</label>
                <input type="date" id="dia" name="dia" required />
            </div>
            <div class="form">
                <label for="hora">Melhor Hora:</label>
                <input type="time" id="hora" name="hora" required />
            </div>
            <div class="form">

                <label for="msg"> Tipo de Atendimento:</label>
                <select id="msg" name="msg" required>
                    <option value="">Escolha</option>
                    <option value="Depilação">Depilação</option>
                </select>
            </div>
            <div class="form">
                <button type="submit" onclick="alert('Horário reservado para você ' + document.getElementById('nome').value)">Agendar</button>
            </div>
        </form>
        
    </div>
   

    <footer class="footer">
        
            <a href="https://www.instagram.com/crebortoli/?hl=pt">instagram</a> 
            <a href="https://api.whatsapp.com/send?phone=5514996638056&text=Cre%20Bortoli">Whatsapp</a>
        
        </footer>
    
        <script type="text/javascript" src="/static/js/acessibilidade.js"></script>

</body>

</html>