<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SIG - Espaço Cre Bortoli{% endblock %}</title>
    <link rel="icon" type="image/png" href="../static/icon/favicon.ico">
    <link rel="stylesheet" href="../static/css/style.css">
    {% block head_extra %}{% endblock %}
</head>
<body>
    <div id="header-placeholder"></div>

    <main>
        {% block content %}{% endblock %}
    </main>

    <div id="footer-placeholder"></div>

    <script src="../static/js/contrast.js"></script>
    <script src="../static/js/menu.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/components.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
