 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/css/style.css'>
    <title>Index</title>    
 </head>
 <body>
    <div class="header">
        <!-- <h1 style.font.font-family="World Discovery Five PERSONAL">Cre Bortoli Depilação </h1> -->
        <h1>Estetic  Cre  Bortoli  Depil  Site</h1>
        
    </div>

    <div class="topnav">
        <a href="{{url_for('paginas.agenda')}}">Agenda</a>
        <a href="{{url_for('paginas.admin')}}">Intranet</a>  
        
    </div>
    
    <h1>Página Index</h1>
    <div style="display:block; border: 1 px solid white;">
    <button><a href="paginas/home">HOME</a></button>
    <button><a href="paginas/agenda">AGENDA</a></button>
    <button><a href="sig/login">LOGIN</a></button>
    </div>
 </body>
 </html>